.main-body {
  font-family:'Courier New', monospace;
  background-color: rgb(0, 0, 0);
  color: white;
}

.error-body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: indianred;
}

.centered {
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
}

.text-centered {
  align-items: center;
}

.text-full-center {
  text-align: center;
}

.page-box {
  width: 80%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin: 32px auto;
}

.full-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}